.landingText {
  font-size: 17px;
}

.callToAction {
  margin: 20px;
}

.helpLink {
  text-decoration: underline;
}

.LandingPage {
  height: 65vh;
  width: 70%;
  margin: 0 auto;
  overflow-y: scroll;
}

.landingRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.landingRow p {
  margin: 10px 20px;
}

@media only screen and (max-width: 500px) {
  .LandingPage {
    width: 98%;
  }
}