.hidden {
  display: none
}

.infoInput {
  margin: 6px;
  width: 55%;
}

.previewImg {
  margin: 16px auto;
  width: 98%; 
}

.infoBtnRow {
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;

.thumbnail {
  width: inherit;
  max-width: 100%;
  height: auto;
}