.BookmarkManager {
  position: relative;
  left: -25px;
  width: 101.5vw;
}

.row {
  display: flex;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  backface-visibility: hidden;
  will-change: overflow;
}

.columnLeft {
  flex: 0 0 30%;
  justify-content: flex-start;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  height: 100vh;
}

.columnRight {
  flex: 0 0 70%;
  border-bottom: solid 1px black;
}

.columnLeft, .columnRight {
  overflow: auto;
  height: auto;
  height: 100vh;
  width: 100vw;
}

.rowL2 {
  display: flex;
  overflow: hidden;
  height: 100vh;
  backface-visibility: hidden;
  will-change: overflow;
}

.columnLeftL2 {
  flex: 0 0 50%;
  justify-content: flex-start;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}

.columnRightL2 {
  flex: 0 0 50%;
  border-bottom: solid 1px black;
}

.columnLeftL2, .columnRightL2 {
  overflow: auto;
  height: auto;
  height: 100vh;
  width: 100vw;
}


.infoblock {
  border-right: solid 1px black;
  height: 100vh;
  width: 35%;
}

.searchresults {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}
