.BookmarkManager {
  position: relative;
  top: 60px;
  left: -25px;
}

.SearchInfoView {
  position: fixed;
  left: 40%
}

.row {
  display: flex;
  justify-content: center;
}

.columnLeft {
  flex: 30%;
  width: 30%;
  text-align: center
}

.columnRight {
  flex: 70%;
  width: 70%;
  text-align: center;
  justify-content: center;
}