.toolbar {
	background-color: rgb(222, 222, 222);
	padding: 5px 2px;
	border-bottom: 1px solid var(--color-border);;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: fixed;
	top: 42px;
	width: 100vw;
	z-index: 5;
	align-items: center;
}

.toolbarRow {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.searchRow {
	display: flex;
	justify-content: center
}

.filterRow {
	justify-content: space-evenly;
	height: 32px;
}

.searchInput {
	width: 150px;
	padding: 6px;
}

.searchBlock, .filterBlock {
	vertical-align: middle;
}

.inputFile {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFileLabel {
	display: flex;
	align-items: center;
	padding: 1px 6px;
	height: 28px;
	font-family: Arial, sans-serif;
	margin: 0 2px;
}

.cancel {
	max-width: 65px;
}

.hiddenLabel {
	display: none;
}

.noHover{
  pointer-events: none;
}

@media only screen and (min-width: 830px) {
	.toolbar {
		flex-direction: row;
	}
}

@media only screen and (max-width: 829px) {
	.cancel {
		margin-top: 4px;
	}
}

@media only screen and (max-width: 499px) {
	.searchBlock {
		margin: 6px 0 3px;
	}
}

