.toolbar {
	background-color: rgb(222, 222, 222);
	padding: 5px 2px;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: flex-start;
	position: fixed;
	top: 46px;
	width: 100vw;
	z-index: 5;
}

.toolbarRow {
	margin: 0;
	padding: 0;
	display: flex;
	flex: 0 0 28%;
	flex-direction: row;
	justify-content: space-between;
}

.searchRow {
	flex: 0 0 35%;
	display: flex;
	justify-content: center
}

.filterRow {
	flex: 0 0 35%;
}

.searchInput {
	width: 150px;
}

.selectInput {
	/* THIS IS FOR THE SELECT DROP DOWN STYLING */
	font-size: 16px;
	padding: 4px;
	margin: 0 4px;

}

.filterBlock {
	margin: 3px 0 3px 26px;
}

.searchBlock, .filterBlock {
	vertical-align: middle;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfilelabel {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
}

@media only screen and (min-width: 500px) {
	.toolbar {
		flex-direction: row;
	}
}

@media only screen and (max-width: 499px) {
	.searchBlock {
		margin: 6px 0 3px;
	}
}