:root {
  --color-text: black;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
}

.btn {
  font-size: 14px;
  padding: 4px;
  margin: 0 2px;
  border: 1px solid black;
  border-radius: 3px;
}

.btn:hover {
  box-shadow: 2px 2px black;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

input {
  margin: 6px;
}

.container {
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 auto;
  padding: 16px;
  max-width: 80%;
}

@media only screen and (min-width: 500px) {
	.btn {
		font-size: 16px;
  	padding: 6px;
  	margin: 0 4px;
  }
}