:root {
  --color-user: rgb(92, 92, 255);
  --color-text: black;
  --color-background: rgb(240, 240, 240);
  --color-border: rgb(110, 110, 110);
  --btn-corners: 2.5px;
}

.App {
  text-align: center;
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: var(--color-text);
}

body {
  overflow-y: hidden;
  background-color: var(--color-background);
  position: relative;
  top: 32px;
}

main {
  top: 40px;
  width: 100vw;
}

.btn, select {
  font-size: 14px;
  height: 32px;
  margin: 0 2px;
  border: 1px solid var(--color-border);
  background-color: white;
  border-radius: var(--btn-corners);
}

.btnPrimary {
  color: white;
  background-color: var(--color-border);
}

.btn:hover {
  background-color: var(--color-user);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

h3 {
  margin: 6px;
}

input {
  padding: 6px;
  border-radius: var(--btn-corners);
}

.unloggedInput {
  margin: 6px;
}

.container {
  border: 1px solid var(--color-border);;
  background-color: white;
  border-radius: 3px;
  margin: 0 auto;
  padding: 16px;
  max-width: 80%;
}

@media only screen and (min-width: 500px) {
	.btn {
		font-size: 16px;
  	padding: 6px;
  	margin: 0 4px;
  }
}

@media only screen and (max-width: 830px) {
	.mobileHiddenFilter {
		display: none;
  }
}

@media only screen and (max-width: 456px) {
	.headerTitle {
		display: none;
  }
}
