.listManager {
  margin-bottom: 24px;
}

.delete {
  transition: opacity 0.5s;
  opacity: 1;
}
.delete.hide {
  opacity: 0;
  pointer-events:none;
}

.save {
  transition: opacity 0.5s;
  opacity: 1;
}
.save.hide {
  opacity: 0;
  pointer-events:none;
}

.savebtn {
  margin: 5px;
}

.flex {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
}

.dash-label {
  text-align: right;
  flex: 80%;
  padding: 0 10px;
}

.dash-input {
  flex: 20%;
}

.dash-color {
  flex: 20%;
}

