nav {
	display: flex;
	padding: 0;
	margin: 0;
}

.tab {
	font-size: 14px;
  padding: 4px;
  margin: 0 2px;
  border: 1px solid black;
  background-color: var(--color-background);
  border-radius: 2.25px;
}