.Tree {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.Tree .hide {
  display: none;
}

.Tree .selected {
  background-color: blue;
}

.Tree .expand-button {
  width: fit-content;
  margin: 3px;
}

.Tree .Tree-icon {
  height: 16px;
  width: 16px;
  margin-top: 12px;
}

.Tree .Tree-info {
  display: flex;
  /* flex-direction: row; */
  font-size: 13px;
  border: 1px solid black;
  border-radius: 8px;
  width: 240px;
  height: 40px;
  overflow-x: hidden;
}

.Tree .Tree-detail {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.Tree .Tree-title {
  width: 215px;
  height: 20px;
  overflow: hidden;
}

.Tree .Tree-url {
  width: 215px;
  height: 20px;
  overflow: hidden;
  color: lightblue;
}