.Tree {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 5px;
  position: relative;
}

.itemRow {
  display: flex;
  flex-direction: row;
}

.expand-button {
  width: fit-content;
  height: 24px;
  margin: 3px;
}

.Tree-icon {
  height: 16px;
  width: 16px;
  margin-top: 5px;
}

.Tree-info {
  display: flex;
  font-size: 13px;
  border: 1px solid gray;
  border-radius: 2px;
  width: 240px;
  height: fit-content;
  overflow-x: hidden;
  background-color: white;
}

.selected {
  background-color: rgb(220, 220, 220);
  border: 2px solid var(--color-user);
  margin: -1px;
}

.Tree-detail {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.Tree-title {
  width: 215px;
  height: 20px;
  overflow: hidden;
}

.folderText {
  position: absolute;
  left: 55px;
}

.Tree-url {
  width: 215px;
  height: 20px;
  overflow: hidden;
  color: rgb(90, 90, 90);
}

.folderIcon {
  position: absolute;
}
