.Tree {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.selected {
  background-color: lightgray;
  border: 2px solid var(--color-user);
}

.expand-button {
  width: fit-content;
  margin: 3px;
}

.Tree-icon {
  height: 16px;
  width: 16px;
  margin-top: 5px;
}

.Tree-info {
  display: flex;
  font-size: 13px;
  border: 1px solid gray;
  border-radius: 2px;
  width: 240px;
  height: fit-content;
  overflow-x: hidden;
  background-color: white;
}

.Tree-detail {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.Tree-title {
  width: 215px;
  height: 20px;
  overflow: hidden;
}

.Tree-url {
  width: 215px;
  height: 20px;
  overflow: hidden;
  color: rgb(100, 100, 100);
}
